*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/*NAVBAR*/
nav {
    width: 100%;
    height: 110px;
    background: #231F20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #444;
}

.blablabla {
    display: flex;
}

ul{
    list-style: none;
    background: #231F20;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

ul li a.mainLink{
    margin-top: -1em;
}

ul li a img{
    margin-bottom: -30px;
}

ul li ul.dropdown {
    width: 200px;
    background: #231F20;
    position: absolute;
    z-index: 999;
    display: none;
    padding: 10px;
    border-radius: 5px;
}

ul li ul.dropdown li {
    display: block;
    padding: 8px 12px;
    color: white;
}

ul li ul.dropdown li:hover {
    background: #393435;
}

ul li:hover ul.dropdown {
    display: block;
}

#cartImg{
    margin-left: -1em;
    margin-bottom: -1em;
    margin-top: -0.4em;
}


#specialMessage{
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01497c;
    font-family: 'Kanit', sans-serif;
    color: #FFF;
}

#specialMessage a{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}
/*NAVBAR*/

#container{
    width: 100%;
    display: flex;
    margin-top: 0.5em;
    justify-content: center;
    overflow-x: hidden;
}

/*FILTER*/
.filter{
    width: 21%;
    border: solid 1px #000;
    margin-top: 2em;
    border-radius: 12px;
    padding: 0.7em 0.7em 0.7em 0.7em;
    height: 53em;
}

.filter p{
    font-family: 'Poppins', sans-serif;
}

.filter hr{
    width: 18.3em;
    margin-left: 0.3em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.filter .filterTitle{
    font-weight: 600;
    font-size: 1.2em;
    margin-left: 0.6em;
    color: #014f86;
}

.filter .filterSubTitle{
    font-weight: 600;
    font-size: 1em;
    margin-left: 0.8em;
    margin-bottom: 0.5em;
}

.wrapper{
    width: 23.3em;
    margin-left: 0.8em;
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
}

input[type="checkbox"]{
    appearance: none;
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: #d5d5d5;
    border-radius: 1px;
    cursor: pointer;
    margin-right: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter .wrapper label{
    color: #4c4c4c;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    cursor: pointer;
}

input[type="checkbox"]::after{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    font-size: 12px;
    color: #fff;
    display: none;
}

input[type="checkbox"]:checked{
    background-color: rgb(76, 75, 134);
}

input[type="checkbox"]:checked:after{
    display: block;
}

input[type="text"]{
    width: 47px;
    height: 30px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    padding-left: 5px;
}
/*FILTER*/

#subContainer h1{
    font-family: 'Poppins', sans-serif;
    font-size: 1.7em;
    color: #495057;
    margin-bottom: 0.5em;
}

#subContainer{
    margin-top: 1.5em;
    margin-left: 1.2em;
}


/*CARDS*/
.cardContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.imgCard{
    width: 15.5em;
    margin-right: 1em;
    transition: opacity 0.5s ease;
}

.imgCard:hover{
    opacity: 0.7;
}

.cardText{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
}
/*CARDS*/


/*PRODUCT HEADER*/
.productHeader{
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

.productHeader b{
    color: #495057;
}

.productHeader p{
    margin-right: 35.8em;
}

.productHeader .pageNumber{
    width: 3em;
    height: 3em;
    border-radius: 0px;
    margin: 0em 0.25em 0em 0.25em;
    border: solid 1px #e9ecef;
    background-color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9em;
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

.pageOne{
    color: #FFF !important;
    background-color: #6c757d !important;
}

.productHeader .pageNumber:hover{
    color: #FFF;
    background-color: #6c757d;
}
/*PRODUCT HEADER*/


/*PRODUCTS*/
.productContainer{
    width: 105%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5em;
}

.productContainer p{
    font-family: 'Poppins', sans-serif;
    width: 15.5em;
    font-weight: 600;
    font-size: 0.9em;
    height: 4.8em;
}

.productContainer .newProduct{
    color: #d90429;
}

.product{
    margin-right: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.productImg{
    height: 15.5em;
    transition: opacity 0.5s ease;
}

.productImg:hover{
    opacity: 0.7;
}

.rating{
    width: 15.5em;
    display: flex;
    justify-content: center;
    }

.rating{
    color: #6c757d;
}

.rating .ON{
    color: #ffbe0b;
}

.productPrice{
    margin-top: 0.2em;
    font-weight: 400 !important;
}

/*PRODUCTS*/


/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #023047;
}

.footerElement{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: white;
    margin-left: 4em;
    margin-right: 4em;
}
/*FOOTER*/