*{
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/*NAVBAR*/
nav {
    width: 100%;
    height: 110px;
    background: #231F20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #444;
}

.blablabla {
    display: flex;
}

ul{
    list-style: none;
    background: #231F20;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

ul li a.mainLink{
    margin-top: -1em;
}

ul li a img{
    margin-bottom: -30px;
}

ul li ul.dropdown {
    width: 200px;
    background: #231F20;
    position: absolute;
    z-index: 999;
    display: none;
    padding: 10px;
    border-radius: 5px;
}

ul li ul.dropdown li {
    display: block;
    padding: 8px 12px;
    color: white;
}

ul li ul.dropdown li:hover {
    background: #393435;
}

ul li:hover ul.dropdown {
    display: block;
}

#cartImg{
    margin-left: -1em;
    margin-bottom: -1em;
    margin-top: -0.4em;
}


#specialMessage{
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01497c;
    font-family: 'Kanit', sans-serif;
    color: #FFF;
}

#specialMessage a{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}
/*NAVBAR*/

/*MAIN*/
#specialMessage{
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01497c;
    font-family: 'Kanit', sans-serif;
    color: #FFF;
}

#specialMessage a{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

#landingArea{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

#welcomeText{
    font-family: 'Poppins', sans-serif;
    font-weight:400;
    font-size: 40px;
    margin-top: 1em;
}

#subWelcomeText{
    font-family: 'Poppins', sans-serif;
    font-weight:400;
}
/*MAIN*/

/*BUTTON*/
.btn{
    background: none;
    border: 2px solid #000;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: color 0.4s linear;
    position: relative;
    font-size: 1em;
}

.btn:hover{
    color: #fff;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: -1;
    transition: transform 0.5s;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.5,1.6,0.4,0.7);
    transform: scaleX(0);
}

.btn:hover::before{
    transform: scaleX(1);
}
/*BUTTON*/

/*BANNER*/
.bannerContainer{
    width: 95%;
    height: 65vh;
    margin-left: 2.4em;
    margin-top: 2em;
    margin-bottom: 1em;
}

.banner{
    width:  100%;
    height: 65vh;
    background-size: cover;
    color: #000080;
    font-family:  'Poppins', sans-serif;
    background-position: 69%;
    display: flex;
    align-items: center;
}

.bannerText p{
    font-size: 3em;
    font-weight: 400;
    margin-top: -10px;
}

.bannerBtn1{
    background: none;
    border: 2px solid #000080;
    color: #000080;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.4s linear;
    transition: color 0.4s linear;
    position: relative;
    font-size: 1em;
}

.bannerBtn1:hover{
    background-color: #000080;
    color: #FFF;
}

.bannerBtn2{
    background: none;
    border: 2px solid #680000;
    color: #680000;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding: 12px 20px;
    min-width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.4s linear;
    transition: color 0.4s linear;
    position: relative;
    font-size: 1em;
}

.bannerBtn2:hover{
    background-color: #680000;
    color: #FFF;
}
/*BANNER*/

/*BANNER SPECIFIC*/
.banner1{
    background-image: url(home/banner1.png);
}

.banner1Text{
    margin-left: 50em;
}

.banner2{
    background-image: url(home/banner2.png);
}

.banner2Text{
    color: #000000;
    margin-left: 3em;
}

.banner3{
    background-image: url(home/banner3.png);
}

.banner3Text{
    margin-left: 42em;
}
/*BANNER SPECIFIC*/

/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #023047;
}

.footerElement{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: white;
    margin-left: 4em;
    margin-right: 4em;
}
/*FOOTER*/