*{
    padding: 0;
    margin: 0;
}

table{
    font-family: Poppins;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar { 
    display: none;
}

/*NAVBAR*/
nav {
    width: 100%;
    height: 110px;
    background: #231F20;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

nav ul li a:hover {
    background-color: #444;
}

.blablabla {
    display: flex;
}

ul{
    list-style: none;
    background: #231F20;
}

ul li{
    display: inline-block;
    position: relative;
}

ul li a{
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
}

ul li a.mainLink{
    margin-top: -1em;
}

ul li a img{
    margin-bottom: -30px;
}

ul li ul.dropdown {
    width: 200px;
    background: #231F20;
    position: absolute;
    z-index: 999;
    display: none;
    padding: 10px;
    border-radius: 5px;
}

ul li ul.dropdown li {
    display: block;
    padding: 8px 12px;
    color: white;
}

ul li ul.dropdown li:hover {
    background: #393435;
}

ul li:hover ul.dropdown {
    display: block;
}

#cartImg{
    margin-left: -1em;
    margin-bottom: -1em;
    margin-top: -0.4em;
}

#specialMessage{
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01497c;
    font-family: 'Kanit', sans-serif;
    color: #FFF;
}

#specialMessage a{
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

/*CART*/
    .cartt{
        margin: 80px auto;
    }

    table{
        width: 70%;
        border-collapse: collapse;
        margin-left: auto;
        margin-right: auto;
    }

    th{
        text-align: left;
        padding: 5px;
        color: #FFF;
        background: #ff523b;
        font-weight: normal;
    }

    td{
        padding: 10px 5px;
    }

    th{
        margin-left: 10px;
    }

    td input{
        width: 40px;
        height: 30px;
        margin: 5px;
    }

    td a{
        color: #ff523b;
        font-size: 12px;
    }

    td img{
        width: 80px;
        margin-right: 15px;
    }

    .cart-info{
        display: flex;
        flex-wrap: wrap;

    }

    .total-price{
        display: flex;
        justify-content: flex-end;
        margin-left: 60em;
    }

    .total-price table{
        border-top: 3px solid #ff523b;
        width: 100%;
        max-width: 350px;
    }

    th:last-child, td:last-child{
        text-align: right;
    }
/*CART*/


/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #023047;
}

.footerElement{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: white;
    margin-left: 4em;
    margin-right: 4em;
}
/*FOOTER*/